:root {
  /* Fonts */
  // Family
  --ff-primary: "Montserrat", sans-serif;
  --fw-light: 200;
  --fw-semi: 600;
  --fw-bold: 700;

  /* Effects */
  --transition: all 0.5s ease;
}

/* General Styles */
body {
  font-family: var(--ff-primary);
}
