.carousel-item {
  max-height: 720px;
}

.carousel-caption {
  @media (min-width: 992px) {
    margin-block-end: 8rem;
    text-align: start;
  }
}

.carousel__control {
  bottom: 10px;
  left: 0;
  justify-content: center;
  width: 50%;
  max-width: 540px;
  @media (min-width: 992px) {
    left: 15%;
    bottom: 15%;
    justify-content: start;
  }
  @media (max-width: 992px) {
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: 552px) {
    &__text {
      display: none;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  max-width: 80px;
  font-size: 0.8rem;
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon {
  filter: grayscale(100);
}

.carousel__title {
  color: $white;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  @media (min-width: 576px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1200px) {
    font-size: 3rem;
  }
}

.carousel__subtitle {
  color: $white;
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  @media (min-width: 576px) {
    font-size: 1.5rem;
    font-weight: var(--fw-light);
    margin-block-end: 2rem;
  }
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

.carousel__text {
  font-size: 0.75rem;
  color: $white;
  @media (min-width: 576px) {
    font-size: 0.875rem;
  }
}
