#navbar {
  background-color: rgba($color: hsl(0, 0%, 95%), $alpha: 0.95);
}
[data-bs-theme="dark"] #navbar {
  background-color: rgba($color: hsl(0, 0%, 5%), $alpha: 0.85);
}

.navbar__section {
  background-color: $black;
}

.navbar-logo {
  max-width: 180px;
}

.nav-link {
  font-size: 0.8rem;
  font-weight: var(--fw-semi);
}

.nav-link:hover {
  color: $primary;
}

.theme__text {
  font-size: 0.8rem;
  font-weight: var(--fw-semi);
  color: var(--bs-nav-link-color);
  margin-inline-end: 0.4rem;

  @media (min-width: 992px) {
    margin-inline-start: 4rem;
  }
}
