:root {
  [data-bs-theme="dark"] {
    --bs-body-bg: hsl(0, 0%, 5%);
    --bs-body-color: hsl(0, 0%, 95%);
  }
  --bg-color-200: hsl(0, 0%, 93%);
  --bg-color-700: hsl(0, 0%, 3%);
}

$primary: #c38e55;
